@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5vmax;
  scroll-behavior: smooth;

}

::-moz-selection { /* Code for Firefox */
  background: rgba(255, 99, 71, 0.699);
}

::selection {
  background:rgba(255, 99, 71, 0.699);
}

::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: transparent; 
    background: rgb(15, 22, 36);
  }
   
  ::-webkit-scrollbar-thumb {
    background: tomato; 
    border-radius: 50px;
  }
  
  ::placeholder { 
    color: tomato;
    opacity: 1; 
  }
  
  :-ms-input-placeholder { 
    color: tomato;
  }
  
  ::-ms-input-placeholder {
    color: tomato;
  }